<app-header></app-header>
<div class="container">
    <div class="card login-card d-flex flex-column">
        <div class="card-header">
          Iniciar Sesi&oacute;n
        </div>
        <div class="card-body">
          <h6 class="card-title label-login">Usuario</h6>
          <input type="text" [(ngModel)]="usuario">
          <h6 class="card-title label-login">Contraseña</h6>
          <input type="password" [(ngModel)]="clave">
          <br>
          <br>
          <button class="btn btn-primary bg-success" (click)="iniciarSesion()">Aceptar</button>
        </div>
      </div>
  <app-footer></app-footer>
</div>
